body {
    min-height: 100%;
    position: relative;
    background-color: #ecf0f5;
}

.content-wrapper {
    padding-bottom: 60px;
    background-color: #ecf0f5;
}

.content-wrapper .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.box {
    padding: 20px 25px 10px 25px;
    background-color: #fff;
    border-top: 3px solid #B71C1C;
}

.container-fluid .breadcrumb {
    background-color: #d2d6de;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

* {
    padding: 0;
    margin: 0;
}

a {
  color: #9d1515;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0e0dbf;
  text-decoration: none;
}

.navbar {
    background-color: #B71C1C;
}

.navbar-collapse ul {
    list-style: none;
    text-align: center;
}

.navbar-collapse ul li{
    color: #fff;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height:40px;
    position: relative;
}

.navbar-collapse ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
}

.navbar-collapse ul li a:hover{
    background-color: #C62828;
}

.navbar-collapse ul li > .sub-menu{
    display: none;
    position: absolute;
}

.navbar-collapse ul li:hover > .sub-menu{
    display: block;
    background-color: #B71C1C;
}

.navbar-collapse ul li:hover > .sub-menu li a:hover{
    color: #fff;
}

.navbar-right .name-user{
    width: 220px;
}

.navbar-right li a:hover {
    background-color: #C62828;
}

.content-header {
    text-align: center;
    padding-bottom: 15px;
}